#mu-header {
  background: #092a4f;
}
.box {
  background: #092a4f;
}
.duoyi {
  width: 100%;
  height: 550px;
  overflow: hidden;
  background: #092a4f;
  background-size: 100% 100%;
}
.duoyi .conter {
  width: 1220px;
  height: 440px;
  margin: 0 auto;
  background: url('../images/zb.png') no-repeat center;
}
.duoyi .conter .left {
  float: left;
  color: #fff;
  margin-left: 80px;
}
.duoyi .conter .left h4 {
  font-size: 40px;
  margin-top: 150px;
}
.duoyi .conter .left span {
  width: 200px;
  height: 4px;
  display: block;
  background: #fff;
  margin: 20px 0;
}
.duoyi .conter .left p {
  font-size: 18px;
  font-weight: 400;
}
.duoyi .conter .right {
  float: left;
}
#mu-service {
  display: inline;
  width: 100%;
  height: 900px;
}
.mu-service-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
.mu-service-header {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
.mu-heading-title {
  color: #1c1b1b;
  margin-bottom: 15px;
  position: relative;
  font-size: 36px;
}
.mu-header-dot {
  background-color: #7d7373;
  border-radius: 0;
  height: 3px;
  width: 100px;
  display: inline-block;
  margin-bottom: 20px;
}
.mu-service-content {
  display: inline;
  float: left;
  margin-top: 70px;
  width: 100%;
}
.mu-service-content-single {
  display: inline;
  float: left;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}
.mu-service-icon-box {
  font-size: 35px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 10px;
}
.mu-service-content-single h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
.mu-service-content-single p {
  font-size: 15px;
}
.serve,
.texing,
.anli,
.biaoxian {
  width: 100%;
  height: 860px;
  background: url('http://www.yunbaokj.com/public/images/danye/shbg.png');
  background-size: 100% 100%;
}
.serve .wrap,
.texing .wrap,
.anli .wrap,
.biaoxian .wrap {
  text-align: center;
}
.serve .wrap .texing-img,
.texing .wrap .texing-img,
.anli .wrap .texing-img,
.biaoxian .wrap .texing-img {
  display: inline-block;
  width: 568px;
  margin: 120px auto 80px;
}
.serve .wrap-texing,
.texing .wrap-texing,
.anli .wrap-texing,
.biaoxian .wrap-texing {
  text-align: center;
  width: 1114px;
  margin: auto;
  color: #fff;
}
.serve .wrap-texing .dajian,
.texing .wrap-texing .dajian,
.anli .wrap-texing .dajian,
.biaoxian .wrap-texing .dajian {
  text-align: center;
  transition: all 0.5s linear;
}
.serve .wrap-texing .title,
.texing .wrap-texing .title,
.anli .wrap-texing .title,
.biaoxian .wrap-texing .title {
  font-size: 26px;
  margin-top: 20px;
}
.serve .wrap-texing .texing-desc,
.texing .wrap-texing .texing-desc,
.anli .wrap-texing .texing-desc,
.biaoxian .wrap-texing .texing-desc {
  padding: 15px;
  font-size: 14px;
  text-align: left;
}
.mt {
  margin-top: 150px;
  margin-bottom: 50px;
}
.serve {
  background: url('http://www.yunbaokj.com/public/images/danye/jdbg.png');
}
.serve .wrap .texing-img {
  width: 820px;
  margin-bottom: 20px;
}
.serve .map {
  width: 1200px;
  margin: 0 auto;
}
.serve .map img {
  width: 100%;
}
.serve .serve-item {
  text-align: center;
  font-size: 16px;
}
.serve .serve-item span {
  color: #FE9101;
}
.biaoxian {
  width: 100%;
  height: 965px;
  background: url('http://www.yunbaokj.com/public/images/danye/ylbg.png') no-repeat;
  background-size: cover;
}
.biaoxian .wrap {
  text-align: center;
}
.biaoxian .wrap .texing-img {
  display: inline-block;
  width: 530px;
  margin: 160px auto 40px;
}
.biaoxian .cont {
  width: 867px;
  margin: 0 auto;
  position: relative;
}
.biaoxian .cont .bianxian-txt {
  position: absolute;
  width: 270px;
  text-align: right;
  top: 133px;
  left: -4px;
  line-height: 24px;
}
.biaoxian .cont .bianxian-txt2 {
  top: 312px;
  left: 41px;
}
.biaoxian .cont .bianxian-txt3 {
  top: 115px;
  left: 778px;
  text-align: left;
}
.biaoxian .cont .bianxian-txt4 {
  top: 293px;
  left: 605px;
}
.bottom {
  width: 100%;
  height: 240px;
  background: url('http://www.yunbaokj.com/public/image/dt.png');
  background-size: 100% 100%;
  text-align: center;
  color: #fff;
}
.bottom .huoqu {
  font-size: 30px;
  padding-top: 55px;
}
.bottom .laioxi {
  font-size: 20px;
  margin-top: 10px;
}
.col-md-4 {
  width: 38.333333% !important;
}
