#mu-header {
  background: #061f3e;
}
.box {
  background: #061f3e;
}
.duoyi {
  width: 100%;
  height: 550px;
  overflow: hidden;
  background: #061f3e;
  background-size: 100% 100%;
}
.duoyi .conter {
  width: 1220px;
  height: 440px;
  margin: 0 auto;
  background: url('../images/dsp.png') no-repeat center;
}
.duoyi .conter .left {
  float: left;
  color: #fff;
  margin-left: 80px;
}
.duoyi .conter .left h4 {
  font-size: 40px;
  margin-top: 150px;
}
.duoyi .conter .left span {
  width: 200px;
  height: 4px;
  display: block;
  background: #fff;
  margin: 20px 0;
}
.duoyi .conter .left p {
  font-size: 18px;
  font-weight: 400;
}
.duoyi .conter .right {
  float: left;
}
#mu-service {
  display: inline;
  width: 100%;
  height: 900px;
}
.mu-service-area {
  display: inline;
  float: left;
  padding: 100px 0;
  width: 100%;
}
.mu-service-header {
  display: inline;
  float: left;
  text-align: center;
  width: 100%;
}
.mu-heading-title {
  color: #1c1b1b;
  margin-bottom: 15px;
  position: relative;
}
.mu-header-dot {
  background-color: #7d7373;
  border-radius: 0;
  height: 3px;
  width: 100px;
  display: inline-block;
  margin-bottom: 20px;
}
.mu-service-content {
  display: inline;
  float: left;
  margin-top: 70px;
  width: 100%;
}
.mu-service-content-single {
  display: inline;
  float: left;
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 100%;
}
.mu-service-icon-box {
  font-size: 35px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 10px;
}
.mu-service-content-single h4 {
  margin-bottom: 20px;
  font-size: 20px;
}
.mu-service-content-single p {
  font-size: 15px;
}
.texing {
  width: 100%;
  height: 920px;
  background: url('http://www.yunbaokj.com/public/image/txbg.png');
  background-size: 100% 100%;
}
.texing .wrap {
  text-align: center;
  padding: 200px 0 80px 0;
}
.texing .wrap-texing {
  text-align: center;
  width: 900px;
  margin: 100px auto 0;
  color: #fff;
}
.texing .wrap-texing .dajian {
  text-align: center;
  transition: all 0.5s linear;
}
.texing .wrap-texing .title {
  font-size: 22px;
  margin-top: 20px;
}
.texing .wrap-texing .texing-desc {
  padding: 15px;
  border-top: 1px solid #fff;
  font-size: 15px;
  text-align: left;
}
.anli {
  width: 100%;
  height: 560px;
  overflow: hidden;
  background: #fff;
  color: #333;
}
.anli .wrap {
  text-align: center;
  margin-top: 130px ;
}
.anli .wrap-texing {
  width: 1150px;
  color: #333;
  text-align: center;
  margin: auto ;
  padding-top: 255px;
}
.anli .wrap-texing .title {
  margin-top: 20px;
  font-size: 18px;
}
.anli .col-sm-3 {
  width: 20% !important;
}
.biaoxian {
  width: 100%;
  height: 965px;
  background: #fff;
}
.biaoxian .wrap {
  text-align: center;
  margin-top: 130px;
}
.biaoxian .cont {
  width: 1200px;
  text-align: center;
  margin: auto ;
  padding-top: 180px;
}
.biaoxian .cont .biaoxian-bd {
  text-align: center;
  margin-top: 30px;
}
.biaoxian .cont .biaoxian-bd .item-1 {
  color: #51b295;
  font-size: 18px;
  margin-top: 10px;
}
.biaoxian .cont .biaoxian-bd .item-2 {
  font-size: 13px;
  padding: 0 80px;
}
.biaoxian .cont .biaoxian-bd .item-4 {
  color: #d99fe2;
}
.biaoxian .cont .biaoxian-bd .item-3 {
  color: #7684de;
}
.span {
  display: inline-block;
  width: 240px;
  height: 2px;
  background: #bac8cc;
  text-align: center;
}
.col-md-4 {
  width: 38.333333% !important;
}
